@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Urbanist", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  animation: appearance 1.5s;
  -webkit-animation: appearance 1.5s;
}

@-webkit-keyframes appearance {
  from {
    opacity: 0.6;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearance {
  from {
    opacity: 0.6;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.product-icon {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}

.product:hover .product-icon {
  opacity: 1;
  visibility: visible;
}

.register-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center / cover;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center / cover;
}

.circle-slider {
 animation: circle 30s ease infinite;
}

@keyframes circle {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.menu-mobile {
  transform-origin: top right;
  animation: showOn 0.15s ease-in-out;
}

@keyframes showOn {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.wrapper_modal {
  background-color: rgb(204, 204, 204, 0.6);
  animation: showModal 0.5s ease;
}

@keyframes showModal {
  from {
    opacity: 0;
    visibility: hidden;
  } to {
    opacity: 1;
    visibility: visible;
  }
}